BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Alignment
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AlignEscapedNewlines: Left

# Includes
SortIncludes: true
IncludeBlocks: Preserve

# Pointers
PointerAlignment: Right
DerivePointerAlignment: false

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# Switch
IndentCaseLabels: false
